.MathJax_Display,
.MathJax_SVG_Display {
  overflow-y: hidden;
  overflow-x: auto;
}

.post__content div {
  overflow-x: auto;
}

article > div {
  overflow-x: scroll;
}

@media (max-width: 768px) {
    .wide-container {
        min-width: 500px;
    }
    .wide-container img {
        max-width: 450px;
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .wide-container {
        width: 768px;
    }
    .wide-container img {
        max-width: 690px;
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .wide-container {
        width: 940px;
    }
    .wide-container img {
        max-width: 892px;
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .wide-container {
        width: 1000px;
    }
    .wide-container img {
        max-width: 900px;
        display: block;
        margin: 0 auto;
    }
}

pre.language-python {
    margin-top: 0;
}

pre.language-output {
    margin-top: 0;
    background-color: rgb(248,248,248);
}

.prompt-in {
    color: #307fc1;
    margin-bottom: 0;
}

.prompt-out {
    color: #aaaaaa;
    margin-bottom: 0;
}