<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}Coding, astrophysics, astronomy, science, data analysis, visualization, statistics, and machine learning{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
		<![endif]-->
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/fonts/academicons-1.8.0/css/academicons.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
<div class="container" style="max-width: 768px;">
	<div class="page-header">
		<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a>
			{% block subtitle %}{% endblock %}
		</h1>

		{% if MENUITEMS %}
		<ul class="menu list-inline">
	        {% for name, link in MENUITEMS %}
	        	{% if link.startswith('http') %}
	        		<li><a href="{{ link }}">{{ name }}</a></li>
                        {% elif 'cv' in link %}
                                <li><a href="{{ SITEURL }}/{{ link }}" target="_blank">{{ name }}</a></li>
	        	{% else %}
	        		<li><a href="{{ SITEURL }}/{{ link }}">{{ name }}</a></li>
	        	{% endif %}
	        {% endfor %}
        </ul>
        {% endif %}
	</div>
	<div class="row">
		<div class="col-md-12">
			{% block content %}{% endblock %}
		</div>
	</div>
	<!-- <hr> -->
</div> <!-- /container -->

{% block blogfooter %}{% endblock %}

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block apw-bottom">
			<p>
				<a class="iconlinks" href="https://github.com/adrn"><i class="fa fa-github fa-3x"></i></a>
				<a class="iconlinks" href="https://twitter.com/adrianprw"><i class="fa fa-twitter fa-3x"></i></a>
				<a class="iconlinks" href="https://instagram.com/ampw"><i class="fa fa-instagram fa-3x"></i></a>
				<a class="iconlinks" href="http://scholar.google.ca/citations?user=_wSmxLcAAAAJ&hl=en"><i class="ai ai-google-scholar ai-3x"></i></a>
				<a class="iconlinks" href="https://orcid.org/0000-0003-0872-7098"><i class="ai ai-orcid ai-3x"></i></a>
			</p>
			<p>&copy;2014–2018 Adrian Price-Whelan</p>
			<p>Contact me on <a href="https://twitter.com/adrianprw">Twitter</a> or adrn@astro.princeton.edu</p>
			<!-- <p>Powered by Pelican</p> -->
		</div>
	</div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("div.collapseheader").click(function () {
		$header = $(this).children("span").first();
		$codearea = $(this).children(".input_area");
		$codearea.slideToggle(500, function () {
			$header.text(function () {
				return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
			});
		});
	});
});
</script>

{% include "analytics.html" %}
</body>
</html>
