.my-list-style {
    margin-left: 0;
    font-size: 80%;
}

.apw-bottom {
    padding: 2em;
    font-size: 75%;
}

a.iconlinks {
    font-size: 75%;
}

.aw-footer {
    margin-top: 1em;
/*    height: 250px;*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.aw-footer li {
    line-height: 150%;
}

.summary {
    margin-bottom: 2em;
    margin-top: 2em;
    color: black;
}

.summary pre { display: none; }

.article-body {
    margin-top: 2em;
    color: black;
}

.article-title {
    margin-bottom: 1em;
}

.article-header {
    margin-bottom: 1em;
}

/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
	overflow: visible;
	padding: 8px;
}

.inner_cell {
	width: 100%;
}

.input_area {
	padding: 0.2em;
}

a.heading-anchor {
	white-space: normal;
}

.rendered_html code {
	font-size: .8em;
}

pre.ipynb {
	color: black;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0px;
	font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
	display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
	padding: 0.5em 0em;
}

img.anim_icon {
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-box-shadow: none;
}

div.collapseheader {
	width: 100%;
	background-color: #d3d3d3;
	padding: 2px;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
    New classes
*/
.bg-grey {
    background-color: #eeeeee !important;
}


/*
    Overrides
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555555;
}

a, a:visited, a:active {
    color: #777777;
}

a:hover {
    color: #333333;
    text-decoration: underline;
    -moz-text-decoration-color: #d9230f; /* Code for Firefox */
    -webkit-text-decoration-color: #d9230f; /* Code for WebKit */
    text-decoration-color: #d9230f;
}

.page-header {
    border-bottom-color: #aaaaaa !important;
}

.page-header h1 a {
    color: #333333;
    letter-spacing: 2px;
    font-weight: 100;
}

@media screen and (min-width: 768px) {
    .page-header h1 a {
        font-size: 42px !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .page-header h1 a {
        font-size: 8vw !important;
    }
}

.page-header .menu li a {
    font-size: 22px !important;
}

.aw-footer h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
}

body {
    font-size: 1.8em;
    color: #333333;
}

body a {
    color: #333333;
}

.pagination {
    font-size: 72%;
}

.body ul li {
    margin-top: 12px;
    margin-bottom: 12px;
}


.paper-title {
    font-style: italic;
}

.paper-authors {
    font-size: 80%;
}

.paper-authors .apw {
    font-weight: 500;
}
